body,
html {
  /* height: 100%; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

.center-container {
  width: 320px;
  height: 320px;
  background-color: antiquewhite;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}

.title {
  text-align: center;
}

.recipes-container {
  width: 800px;
  height: auto;
  background-color: antiquewhite;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}
